.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --pixel-bg: lightpink; /* Inner background color */
    --pixel-border: lightblue; /* Inner border color: */
    --pixel-border-2: white; /* Middle border color: */
    --pixel-border-3: var(--pixel-border); /* Outer border color */
    --pixel: .125rem; /* Pixel size */
    --scale: 2;
    --unscaled-window-w: 320px;
    --unscaled-window-h: 240px;
    --window-w: calc(var(--unscaled-window-w) * var(--scale));
    --window-h: calc(var(--unscaled-window-h) * var(--scale));
    --links-h: 80px;
}

.pixel-border {
    background: var(--pixel-bg);
    box-shadow:
        
    /* Inner Background Color */
        0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        
    /* Pixel Border Layer 1 */
        calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
        var(--pixel) 0 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        
    /* Pixel Border Layer 2 */
        calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
        calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
        0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
        0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        
    /* Border Layer 3: --pixel-border-3 */
        calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
        calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
        0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
        0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
        0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
        0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

.window {
  /* TODO optimal scaling */
  /*--opt-w-size: round(down, 100vw, 320px);
  --opt-h-size: round(down, 100vh, 240px);
  --opt-w-scale: calc(var(--opt-w-scale) / 320);
  --opt-h-scale: calc(var(--opt-h-scale) / 240);
  --scale: min(var(--opt-h-scale), var(--opt-w-scale));*/
  position: relative;
  top: 0px;
  left: 0px;
  height: calc(var(--window-h) + var(--links-h));
  width: var(--window-w);
  background: url("wip_menu_artwork.jpeg") no-repeat;
  background-size: calc(320px * var(--scale)) calc(240px * var(--scale));
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: var(--window-w);
    height: var(--links-h);

}

section {
    margin: calc(5 * var(--pixel));
    text-align: center;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    color: pink;
    animation: 2.5s infinite alternate text_spin;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

.upcoming {
    position: relative;
    left: calc(2 * var(--scale) * 106px);
    top: calc(2 * var(--scale) * -1px);
    height: calc(2 * var(--scale) * 95px);
    width: calc(2 * var(--scale) * 125px);
    font-size: calc(2 * var(--scale) * 2px);
    overflow-y: auto;
    clip-path: rect(calc(2 * var(--scale) * 44px) 100% 100% 0%);
    margin-top: -15px;
    zoom: 0.5;
    transition: all .2s ease-in-out;
}

iframe {
    height: 900px!important;
}

/*.upcoming:hover {
    height: calc(2 * var(--scale) * 250px);
    clip-path: rect(calc(2 * var(--scale) * 44px) 100% 100% 0%);
    overflow-y: auto;
}*/

@keyframes pulse {
  0%   {scale: 1.0;}
  100%  {scale: 1.5;}

}

.down-arrow {
    background: url("down arrow.png") no-repeat;
    position: relative;
    left: calc(var(--scale) * 161px);
    top: calc(var(--scale) * 10px);
    height: calc(var(--scale) * 10px);
    width: calc(var(--scale) * 10px);
    background-size: calc(10px * var(--scale)) calc(10px * var(--scale));
    animation: pulse 0.5s linear 0.5s infinite alternate;
}

.merch {
    display: flex;
    position: absolute;
    left: calc(var(--scale) * 161px);
    top: calc(var(--scale) * 147px);
    height: calc(var(--scale) * 50px);
    width: calc(var(--scale) * 142px);
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.merch-item {
    width: 30%;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.outoforder {
    position: absolute;
    left: calc(var(--scale) * 47px);
    top: calc(var(--scale) * 80px);
    height: calc(var(--scale) * 40px);
    width: calc(var(--scale) * 40px);
    background: url("outoforder.png") no-repeat;
    background-size: calc(40px * var(--scale)) calc(40px * var(--scale));
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    cursor: url(Cute_Unicorn_Cursor.png), pointer;
    color: #6f1e5c;
    font-size: 24px;
    background-color: black;
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

a {
    cursor: url(Cute_Unicorn_Pointer.png), pointer;
}

@keyframes text_spin {
    from { transform: scale(1, 1) }
    to { transform: scale(-1, 1) }
}
