.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --pixel-bg: lightpink; /* Inner background color */
    --pixel-border: lightblue; /* Inner border color: */
    --pixel-border-2: white; /* Middle border color: */
    --pixel-border-3: var(--pixel-border); /* Outer border color */
    --pixel: .125rem; /* Pixel size */
    --unscaled-window-w: 320px;
    --unscaled-window-h: 240px;
    /*scale set in js*/
    --window-w: calc(var(--unscaled-window-w) * var(--scale));
    --window-h: calc(var(--unscaled-window-h) * var(--scale));
    --links-h: calc(var(--scale) * 40px);
}

.pixel-border {
    background: var(--pixel-bg);
    box-shadow:
        
    /* Inner Background Color */
        0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        
    /* Pixel Border Layer 1 */
        calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
        var(--pixel) 0 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        
    /* Pixel Border Layer 2 */
        calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
        calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
        0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
        0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        
    /* Border Layer 3: --pixel-border-3 */
        calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
        calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
        0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
        0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
        0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
        0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

.window {
  position: relative;
  top: 0px;
  left: 0px;
  height: calc(var(--window-h) + var(--links-h));
  width: var(--window-w);
  background: url("images/bar/01_bg/01_bg.png") no-repeat;
  background-size: var(--window-w) var(--window-h);
  image-rendering: pixelated;
}

#arcade-machine {
    position: absolute;
    z-index: 10;
    top: calc(var(--scale) * 57px);
    left: calc(var(--scale) * 43px);
    width: calc(var(--scale) * 59px);
    height: calc(var(--scale) * 163px);
}

.dialogue {
    transition: all .2s ease-in-out; 
    display: none;
    position: absolute;
    bottom: 0;
    margin: 0;
}

.bartender {
    color: lightblue;
}

.goth {
    color: pink;
}

@keyframes pop-up {
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#arcade-machine:hover + #bartender-text {
    display: block;
}

#upcoming-lights {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--window-w);
    height: var(--window-h);
    z-index: 2;
    background: url("images/bar/02_upcomingevents/02_upcomingevents_on2.png") no-repeat;
    background-size: var(--window-w) var(--window-h);
    transition: all .2s ease-in-out; 
}

#upcoming-lights img {
    opacity: 0;
    position: absolute;
    width: var(--window-w);
    height: var(--window-h);
    animation-name: lights-flicker;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: step-start;
}

@keyframes lights-flicker {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  3% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#goth {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--scale) * 50px);
    height: calc(var(--scale) * 82px);
    z-index: 3;
}

#goth img {
    opacity: 0;
    position: absolute;
    top: calc(var(--scale) * 73px);
    left: calc(var(--scale) * 212px);
    width: calc(var(--scale) * 50px);
    height: calc(var(--scale) * 82px);
}

#fly {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--scale) * 5px);
    height: calc(var(--scale) * 7px);
    z-index: 3;
}

#fly img {
    opacity: 0;
    position: absolute;
    top: calc(var(--scale) * 33px);
    left: calc(var(--scale) * 15px);
    width: calc(var(--scale) * 5px);
    height: calc(var(--scale) * 7px);
}

.dust {
    position: absolute;
    top: calc(100 * var(--scale));
    left: calc(100 * var(--scale));
    width: calc(23px * var(--scale));
    height: calc(19px * var(--scale));
    z-index: 4;
}

.dust img {
    opacity: 0;
    position: absolute;
    top: calc(0px * var(--scale));
    left: calc(0px * var(--scale));
    width: calc(23px * var(--scale));
    height: calc(19px * var(--scale));
}

.sixteen-frames img {
    animation-name: sixteen-frames-rotator;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: step-start;
}

@keyframes sixteen-frames-rotator {
  0% {
    opacity: 1;
  }
  6.24% {
    opacity: 1;
  }
  6.25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.sixteen-frames img:nth-of-type(16) {
  animation-delay: 1.875s;
}
.sixteen-frames img:nth-of-type(15) {
  animation-delay: 1.75s;
}
.sixteen-frames img:nth-of-type(14) {
  animation-delay: 1.625s;
}
.sixteen-frames img:nth-of-type(13) {
  animation-delay: 1.5s;
}
.sixteen-frames img:nth-of-type(12) {
  animation-delay: 1.375s;
}
.sixteen-frames img:nth-of-type(11) {
  animation-delay: 1.25s;
}
.sixteen-frames img:nth-of-type(10) {
  animation-delay: 1.125s;
}
.sixteen-frames img:nth-of-type(9) {
  animation-delay: 1s;
}
.sixteen-frames img:nth-of-type(8) {
  animation-delay: 0.875s;
}
.sixteen-frames img:nth-of-type(7) {
  animation-delay: 0.75s;
}
.sixteen-frames img:nth-of-type(6) {
  animation-delay: 0.625s;
}
.sixteen-frames img:nth-of-type(5) {
  animation-delay: 0.5s;
}
.sixteen-frames img:nth-of-type(4) {
  animation-delay: 0.375s;
}
.sixteen-frames img:nth-of-type(3) {
  animation-delay: 0.25s;
}
.sixteen-frames img:nth-of-type(2) {
  animation-delay: 0.125s;
}
.sixteen-frames img:nth-of-type(1) {
  animation-delay: 0s;
}

#bar-game-table {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--window-w);
    height: var(--window-h);
    z-index: 4;
    background: url("images/bar/04_bargametable/04_bargametable.png") no-repeat;
    background-size: var(--window-w) var(--window-h);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--window-w);
    height: var(--window-h);
    z-index: 5;
    background: url("images/bar/05_overlay/05_overlay.png") no-repeat;
    background-size: var(--window-w) var(--window-h);
    opacity: 0.5;
}

#overhead-lights {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--window-w);
    height: calc(var(--scale) * 64px);
    z-index: 6;
    background: url("images/bar/06_overheadlights/06_overheadlights1.png") no-repeat;
    background-size: var(--window-w) calc(var(--scale) * 64px);
}

#overhead-lights img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--window-w);
    height: calc(var(--scale) * 64px);
    animation-name: lights-flicker;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: step-start;
}


.links {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: var(--window-w);
    height: var(--links-h);
}

#insta:hover + #insta-text {
  display: block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--pixel-bg);
  padding: calc(20px * var(--scale));
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: fade-in;
  animation-duration: 0.4s
}

.contact-item {
    margin-top: 40;
    margin-bottom: 40;
}

/* Add Animation */
@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

section {
    margin: calc(5 * var(--pixel));
    text-align: center;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    color: pink;
    animation: 2.5s infinite alternate ease-in-out text_spin;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

#upcoming {
    position: absolute;
    margin: 0px;
    overflow-y: auto;
    z-index: 10;
    transition: all .2s ease-in-out; 
    top: calc(var(--scale) * 35px);
    left: calc(var(--scale) * 122px);
    height: calc(var(--scale) * 57px);
    width: calc(var(--scale) * 102px);
}

#upcoming-table {
    width: 100%;
    font-size: calc(var(--scale) * 12px);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-centre {
  text-align: center;
  vertical-align: text-top;
}

#upcoming:hover + #upcoming-lights {
    display: block;
}

#upcoming:hover + #upcoming-lights + #upcoming-text {
  display: block;
}

@keyframes pulse {
  0%   {scale: 1.0;}
  100%  {scale: 1.5;}
}

.pulse {
    animation: pulse 0.5s linear 0.5s infinite alternate;
}

.merch {
    z-index: 10;
    display: flex;
    position: absolute;
    left: calc(var(--scale) * 161px);
    top: calc(var(--scale) * 147px);
    height: calc(var(--scale) * 28px);
    width: calc(var(--scale) * 142px);
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.merch-item {
    width: 30%;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.image-link {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    cursor: url(Cute_Unicorn_Cursor.png), pointer;
    color: magenta;
    font-size: calc(var(--scale) * 12px);
    background-color: black;
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

a {
    cursor: url(Cute_Unicorn_Pointer.png), pointer;
}

@keyframes text_spin {
    from { transform: scale(1, 1) }
    to { transform: scale(-1, 1) }
}
