.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --pixel-bg: lightpink; /* Inner background color */
    --pixel-border: lightblue; /* Inner border color: */
    --pixel-border-2: white; /* Middle border color: */
    --pixel-border-3: var(--pixel-border); /* Outer border color */
    --pixel: .125rem; /* Pixel size */
}

.pixel-border {
    background: var(--pixel-bg);
    box-shadow:
        
    /* Inner Background Color */
        0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
        
    /* Pixel Border Layer 1 */
        calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
        var(--pixel) 0 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
        0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
        0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
        0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
        
    /* Pixel Border Layer 2 */
        calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
        calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
        0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
        0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
        0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
        0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
        0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
        0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
        
    /* Border Layer 3: --pixel-border-3 */
        calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
        calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
        0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
        0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
        0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
        0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
        0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
        0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
        0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
        0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
        0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
        0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

section {
    margin-top: 2em;
    width: 80%;
    text-align: center;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    color: pink;
    animation: 2.5s infinite alternate text_spin;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    cursor: url(Cute_Unicorn_Cursor.png), pointer;
    padding: 5%;
    color: #6f1e5c;
    font-size: 32px;
    background: url("spinning_logo.gif") no-repeat;
    background-size: cover;
    background-position: center;

}

a {
    cursor: url(Cute_Unicorn_Pointer.png), pointer;
}

@keyframes text_spin {
    from { transform: scale(1, 1) }
    to { transform: scale(-1, 1) }
}
